<section class="twelve columns">
  <h1>Education</h1>
  <article>
    <header>
      <h1>Bachelor of Science in Computer Science, graduated <em>Cum Laude</em></h1>
      <span>Rochester Institute of Technology</span>
      <span><address>Rochester, NY</address><time>2012 to 2016</time></span>
    </header>
    <p>
      Focused on computational theory and language design. This included clases
      such as compiler design, computational complexity, and programming language
      theory. I supplemented these classes with others on data mining and
      artificial intelligence. Graduated with honors.
    </p>
  </article>
</section>
