<section class="twelve columns">
  <h1>Employment</h1>
  <article>
    <header>
      <h1>Apple (iCloud) - Software Engineer</h1>
      <span><address>San Francisco, Ca</address><time>2016 - Present</time></span>
    </header>
    <p>
      Worked on the backing distributed blob datastore that is
      depended on to store assets for the hundreds of millions of
      users. Designed and architected from the ground up the new
      multi-tenant distributed compaction system for the datastore.

      <br/>
      <br/>

      Engineered a proactive solution to data loss prevention. This
      lead to the discovery of several undiscovered, subtle bugs in
      the underlying frameworks and data store. With the new detection
      system, we were now able to fully test previously untestable
      aspects of the system.

      <br/>
      <br/>

      Implemented a job scheduling system for CloudKit that reduced
      total load on backing datastore engines. This was achieved by
      finding similar jobs and scheduling them with each other to take
      advantage of pooled resources.
    </p>  
  </article>
  <article>
    <header>
      <h1>Cloudera - Software Engineer Intern</h1>
      <span><address>Palo Alto, CA</address><time>Summer 2015</time></span>
    </header>
    <p>
      Redesigned how Apache Spark and Apache Avro work together to allow 
      developers to more easily process data. Along that way I implemented 
      several performance increases in Spark yielding up to 70% reduction 
      in network usage. Worked on integrating the project into Cloudera's 
      own Hadoop distribution.
    </p>
  </article>
  <article>
    <header>
      <h1>Google - Engineering Practicum Intern</h1>
      <span><address>New York, NY</address><time>Summer 2014</time></span>
    </header>
    <p>
      Worked as a Site Reliability Engineer, dealing with performance 
      testing for a variety of internal projects at Google. I was responsible 
      for finding and fixing various of performance issues across my team's 
      department.
    </p>
  </article>
  <article>
    <header>
      <h1>Amazon - Software Engineer Intern</h1>
      <span><address>Seattle, WA</address><time>Spring 2014</time></span>
    </header>
    <p>
      Designed and built a search indexer to allow internal users to search
      for necessary information. Also worked on extending existing APIs
      to allow for more functionality. I worked in Java using various
      Amazon Web Services like CloudSearch, SQS, and SNS.
    </p>
  </article>
  <article>
    <header>
      <h1>John Hopkins University Applied Physics Laboratory - Software Intern</h1>
      <span><address>Laurel, MD</address><time>Summer 2013</time></span>
    </header>
    <p>
      Implemented a sensor management system used to control and collect 
      data from multiple telescopes remotely. Languages / tools used: 
      Java, ant, svn, SQL, Google Protocol Buffers.
    </p>
  </article>
</section>
