<section class="twelve columns">
  <h1>Resources</h1>
  <p>
    <strong>Resume:</strong>
    <a href="https://github.com/JDrit/resume/raw/master/resume.pdf">pdf version</a>
  </p>
  <p>
    <strong>CAP Theorm Talk:</strong>
    <a href="/assets/files/cap.pdf"> slide deck</a>
  </p>
  <p>
    <strong>Dynamic Programming Seminar</strong>
    <a href="/assets/files/cap.pdf"> slide deck</a>
  </p>
  <p>
    <strong>Raft Seminar</strong>
    <a href="/assets/files/raft.pdf"> slide deck</a>
  </p>
</section>

