<section class="twelve columns">
  <h1>Technical Skills</h1>
  <article>
    <header><h1>Software engineering</h1></header>
    <p>
      <strong>Languages:</strong> Scala, Python, Java, Ruby, Go, C
    </p>
    <p>
      <strong>Tools:</strong> Git, Spark, Cassandra, PostgreSQL,
      Apache Avro, Protocol Buffers, Thrift, OpenJDK JMH
    </p>
    <p>
      <strong>Certifications:</strong> Cloudera Certified Hadoop
      Developer
    </p>
    <p><strong>Apache Spark Contributor:</strong> Focused on
    integrating Spark with the Avro file format
    </p>
  </article>
</section>
