<section class="thirteen columns">
    <h1>Summary</h1>
    
    <p>Computer scientist with a passion for distributed systems, interesting algorithms, and
    developing the kinds of tools that allow people to find the data they're looking for,
    and then put the data to use solving practical, real-world problems.</p>
    <br>
    <p>I relish working with truly large data sets, learning new languages, and applying them
    to both work and personal projects. Work experience to date includes some of the world's
    largest infrastructures, in a variety of computing roles and contexts.</p>
</section>

